<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h1>Dashboard</h1>

<p>Welcome, {{ request.user.username }}</p>

<hr>

<h3>More Menu</h3>
<ul>
    <li><a href="#">My Profile</a></li>
    <li><a href="{% url 'change_password' %}">Change Password</a></li>

</ul>
<hr>
<h3>Department Management</h3>
<ul>
    <li><a href="{% url 'department_list' %}">View Departments</a></li>
    <li><a href="{% url 'add_department' %}">Add Department</a></li>
</ul>

<hr>
<h3>Employee Management</h3>
<ul>
    <li><a href="{% url 'employee_list' %}">View Employees</a></li>
    <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
</ul>


</body>
</html>

